{% extends 'errors/errors-layout.html.twig' %}
{% block title %}Error 403 | Access denied{% endblock %}
{% block body %}
<!-- templates.errors.403.html.twig -->
<div>
    <h1>403 - Access denied!</h1>
    <p>
        {{ message }}
    </p>
</div>
{% endblock %}