{% extends 'errors/errors-layout.html.twig' %}
{% block title %}Error 404{% endblock %}
{% block body %}
<!-- templates.errors.404.html.twig -->
<div>
    <h1>404 - Resource not found!</h1>

</div>
{% endblock %}