{% extends 'errors/errors-layout.html.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
<!-- templates.errors.404.html.twig -->
<div>
    <h1>{{ title }}</h1>
    <p>
        {{ message }}
    </p>
</div>
{% endblock %}