<!-- Google Map -->
<div class="map">
    <div id="google_map" class="google_map">
        <div class="map_container align-items-center">
            <div id="map" style="padding: 1em;">
                <a
                    href="https://www.google.com/maps/place/Calle+Clara+del+Rey,+57,+28002+Madrid/@40.4458028,-3.6698883,17z/data=!4m5!3m4!1s0xd4228d1e91cb751:0xd140187bd4840867!8m2!3d40.4453211!4d-3.6684614"
                    target="_blank"
                    rel="external nofollow"
                ><img
                    src="https://trello-attachments.s3.amazonaws.com/5a06e095439f81dee5f03587/5eac7bec75cccf39475aec5e/e56f82fc577913159e3c19d0a2d830eb/image.png"
                    alt="Peluquería Doble RR - Clara del Rey 57 - Prosperidad - Madrid 28002"
                    class="img-responsive rounded"
                ></a>
            </div>
        </div>
    </div>
</div>