<!-- Services -->
<div class="services" id="services">
    <div class="parallax_background" data-image-src="/assets/themes/beauty/images/services.jpg"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="section_title_container">
                    <div class="section_title"><h1>Servicios</h1></div>
                    <p>
                        Ofrecemos diversos servicios de peluquería. <br/>
                        Nuestra basta experiencia nos ha hecho especialistas en los siguientes servicios:
                    </p>
                </div>
            </div>
        </div>
        <div class="row services_row">
            <div class="col">
                <div class="section_expander">
                    {{ include("open/home/elements/services-slider.html.twig") }}
                </div>
            </div>
        </div>
    </div>
</div>