{% extends 'open/open.html.twig' %}

{% block styles %}
  <link rel="stylesheet" type="text/css" href="/assets/themes/beauty/styles/about.css">
  <link rel="stylesheet" type="text/css" href="/assets/themes/beauty/styles/about_responsive.css">
{% endblock %}

{% block body %}
  <div class="home">
    <div class="parallax_background" data-image-src="/assets/themes/beauty/images/about.jpg"></div>
    <div class="home_container" style="margin-top: 1em">
      <div class="container">
        <div class="row">
          <div class="col-xl-8">
            <div class="section_title_container">
              <div class="section_title"><h1 style="font-size: -webkit-xxx-large;">Peluquería <span>Doble RR</span></h1></div>
            </div>
          </div>
        </div>
        <div class="row about_row">
          <div class="col-lg-6">
            <div class="about_text">
              <p style="color:white">
                Es una peluquería unisex situada en el barrio de Prosperidad (Madrid) atendida por María, Carlos, Miriam y Beatriz.<br/>
                Abierta al público desde 2010 presta servicio a su variada clientela cerca del metro de Alfonso XIII.<br/>
                En "Doble RR" cada cliente es especial y por eso tiene un trato personalizado.
                Ofrecemos el mejor servicio, calidad y precio.
              </p>
            </div>
          </div>
        </div>
<!--
        <div class="row about_link_row">
          <div class="col">
            <div class="home_link"><a href="#">Read More</a></div>
          </div>
-->
        </div>
      </div>
    </div>
  </div>

  <!-- Milestones -->

  <div class="milestones_section">
    <div class="parallax_background" data-image-src="/assets/themes/beauty/images/milestones.jpg"></div>
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="section_title_container">
            <div class="section_title"><h1 style="font-size: 48px;">Únete a nuestro equipo de <br/> estilistas</h1></div>
            <p>
              ¿Estás buscando trabajo?<br/><br/>
              Si eres auxiliar de peluquería no dudes en ponerte en contacto con nosotros.<br/><br/>
              Rellena el siguiente <a href="{{ path("contact") }}"><b>formulario</b></a> indicando tu especialidad y/o experiencia laboral.
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>

{% endblock %}
{% block javascripts %}
  <script src="/assets/themes/beauty/js/about.js"></script>
{% endblock %}