{% extends 'restrict/restrict-layout.html.twig' %}
{% block title %}Admin{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="https://v5.getbootstrap.com/docs/5.0/examples/floating-labels/floating-labels.css">
{% endblock %}

{% block body %}
<style>
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}
</style>
<div class="example-wrapper">
    <form class="form-signin">
        <div class="text-center mb-4">
            <img class="mb-4" src="/favicon.png" alt="" width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal">Restrict Area</h1>
            <p></p>
        </div>

        <div class="form-label-group">
            <input type="email" id="username" class="form-control" placeholder="Email" required autofocus>
            <label for="username">Email</label>
        </div>

        <div class="form-label-group">
            <input type="password" id="password" class="form-control" placeholder="Password" required>
            <label for="password">Password</label>
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <p class="mt-5 mb-3 text-muted text-center">&copy; 2020</p>
    </form>
</div>
{% endblock %}
