{% extends 'restrict/restrict-layout.html.twig' %}
{% block title %}Admin{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/assets/css/login.css">
{% endblock %}

{% block body %}
<div class="example-wrapper">
    <form id="form-login" @submit="handleSubmit" class="form-signin">
        <div class="text-center mb-4" >
            <img class="mb-4" src="http://www.elchalanaruba.com/wp-content/uploads/2020/01/El-Chala%CC%81n-logo-m.png" alt="" width="150" height="55">
            <h1 class="h3 mb-3 font-weight-normal">Restrict Area</h1>
            <p></p>
        </div>

        <div class="form-label-group">
            <input type="email" v-model="username" id="username" ref="username" class="form-control" placeholder="Email" required autofocus>
            <label for="username">Email</label>
        </div>

        <div class="form-label-group">
            <input type="password" v-model="password" id="password" class="form-control" placeholder="Password" required>
            <label for="password">Password</label>
        </div>

        <button class="btn btn-lg btn-dark btn-block" type="submit">Sign in</button>
        <p class="mt-5 mb-3 text-muted text-center">&copy; 2020</p>
    </form>
</div>
<script>
const BTN_INISTATE = "Confirmar"
const BTN_IN_PROGRESS = "Procesando..."
const formid = "form-login"
const app = new Vue({
    el: `#${formid}`,
    data(){
        return {
            errors: [],
            btnsend: BTN_INISTATE,
            issending: false,

        }
    },
    methods:{
        handleSubmit(e){
            e.preventDefault()
            const self = this
            self.issending = true
            self.btnsend = BTN_IN_PROGRESS
            const slug = get_slug()
            const url = `/promotion/confirm/${slug}`
            const data = new FormData();
            data.append("action","confirm-code")
            data.append("codeconfirm",self.codeconfirm)
            fetch(url, {
                method: 'post',
                body: data
            })
                .then(response => response.json())
                .then(response => {
                    console.log("reponse",response)
                    self.issending = false
                    self.btnsend = BTN_INISTATE
                    if(response.title == "success") {
                        Swal.fire({
                            icon: 'success',
                            title: 'Enhorabuena! <br/> Subscripción realizada correctamente',
                            html: response.description
                        })

                    } else {
                        Swal.fire({
                            icon: 'warning',
                            title: 'Esta acción no se ha podido completar',
                            text: response.description,
                        })
                    }
                })
                .catch(function(error){
                    self.issending = false
                    self.btnsend = BTN_INISTATE
                    console.log("error catched:",error)
                    Swal.fire({
                        icon: 'error',
                        title: 'Vaya! Ha ocurrido un error',
                        text: error.toString(),
                    })
                })
        }//handleSubmit(e)
    },//methods
    mounted(){
        console.log("mounted")
        this.$refs.email.focus();
    }
})
</script>
{% endblock %}
