<!-- Appointment -->
<div class="app trans_400">
    <div class="app_button_container d-flex flex-row align-items-center justify-content-start">
        <div class="app_button trans_400 d-flex flex-row align-items-center justify-content-start">
            <div class="app_button_icon"><img src="/assets/themes/beauty/images/woman.svg" alt="Pide cita"></div>
            <div>Pide cita</div>
        </div>
        <div class="app_button_close">close</div>
    </div>
</div>
<div class="app_content d-flex flex-column align-items-start justify-content-center" style="background: black">
    <div class="app_form_container text-right">
        {% verbatim %}
        <form id="frmappointment" action="/mail" @submit="checkform" method="post" class="app_form">
            <input type="text" v-model="name" class="app_input" placeholder="Nombre" required="required">
            <input type="email" v-model="email"  class="app_input" placeholder="Email" required="required">
            <input type="text" v-model="phone"  class="app_input" placeholder="Teléfono" required="required">
            <input type="date" v-model="datetime" class="app_input" placeholder="Fecha y hora" required="required">

            <select v-model="selservices" class="app_input" multiple size="8" required="required" style="height: 150px">
                <option disabled="" selected="">Que te vas a hacer?</option>
                <option v-for="option in serviceopts" v-bind:value="option.value">
                {{ option.text }}
                </option>
            </select>

            <select v-model="selperson" class="app_input" required="required">
                <option disabled="" selected="">Con quién?</option>
                <option v-for="option in personsopts" v-bind:value="option.value">
                {{ option.text }}
                </option>
            </select>
            <button id="btn-appointment" class="app_form_button">Enviar</button>
        </form>
        {% endverbatim %}
    </div>
</div>

<script>
var app2 = new Vue({
    el: "#frmappointment",
    data: {
        errors:[],
        name: "",
        email: "",
        phone: "",
        datetime: "",
        selservices: [],
        serviceopts:[
            { text: 'Cortar', value: 'Cortar' },
            { text: 'Peinar', value: 'Peinar' },
            { text: 'Lavar', value: 'Lavar' },
            { text: 'Tratamiento', value: 'Tratamiento' },
            { text: 'Estética', value: 'Estética' },
            { text: 'Masaje', value: 'Masaje' },
            { text: 'Otro', value: 'Otro' }
        ],
        selperson: "",
        personsopts:[
            { text: 'Carlos', value: 'Carlos' },
            { text: 'Miriam', value: 'Miriam' },
            { text: 'Beatriz', value: 'Beatriz' },
            { text: 'Otro', value: 'Otro' },
        ],

    },
    methods:{
        checkform: function(e) {
            console.log("checkform")
            $("#btn-appointment").hide()
            e.preventDefault()

            const data = new FormData();
            data.append("action","appointment")
            data.append("name",this.name)
            data.append("email",this.email)
            data.append("phone",this.phone)
            data.append("datetime",this.datetime)
            data.append("services",this.selservices)
            data.append("person",this.selperson)
            console.log("data-prefetch",data);
            fetch('/mail', {
                method: 'post',
                body: data
            })
            .then(function(response) {
                $("#btn-appointment").show()
                console.log("reponse",response)
                if(response.ok) {
                    $(".app_button_close").click()
                    Swal.fire({
                        icon: 'success',
                        title: 'Enhorabuena! la cita se ha procesado ',
                        html: 'En breves momentos recibirás una copia de la misma en tu email. Recuerda que te llamaremos para <b>confirmarla</b>',
                    })
                    /*this.name = ""
                    this.email = ""
                    this.phone = ""
                    this.datetime = ""
                    this.selservices = []
                    this.selperson = ""*/
                    e.target.reset()

                } else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Vaya! Algo no ha ido bien',
                        text: 'No se ha podido procesar la cita. Por favor inténtalo más tarde o prueba por teléfono (34 91 455 74 43).  Disculpa las molestias.',
                    })
                }

            })
        }
    },//methods
    mounted(){
        console.log("mounted")
        document.getElementById("frmappointment").reset()
    }
})
</script>